In [1]:
# Dependencies and Setup
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Raw data file
file_2014 = os.path.join('austin_crime.csv')
file_2015 = os.path.join('Annual_Crime_Dataset_2015.csv')
file_2016 = os.path.join('2016_Annual_Crime_Data.csv')

# Read crime report files and store into pandas data frame
crime_data_2014 = pd.read_csv(file_2014)
crime_data_2015 = pd.read_csv(file_2015)
crime_data_2016 = pd.read_csv(file_2016)

In [2]:
# Check original length of csv file rows
print(len(crime_data_2014))
print("-------------")
print(len(crime_data_2015))
print("-------------")
print(len(crime_data_2016))

159464
-------------
38573
-------------
37461

In [3]:
# Turn 2014 crime csv into dataframe and drop unneccessary columns
crime_data_2014 = pd.DataFrame(crime_data_2014)
crime_data_2014 = crime_data_2014.drop("latitude",axis=1)
crime_data_2014 = crime_data_2014.drop("location",axis=1)
crime_data_2014 = crime_data_2014.drop("longitude",axis=1)
crime_data_2014 = crime_data_2014.drop("census_tract",axis=1)
crime_data_2014 = crime_data_2014.drop("unique_key",axis=1)
crime_data_2014 = crime_data_2014.drop("zipcode",axis=1)
crime_data_2014 = crime_data_2014.drop("clearance_date",axis=1)
crime_data_2014 = crime_data_2014.drop("district",axis=1)
crime_data_2014 = crime_data_2014.drop("description",axis=1)
crime_data_2014 = crime_data_2014.drop("location_description",axis=1)
crime_data_2014 = crime_data_2014.drop("address",axis=1)

# Drop all rows containing no values
crime_data_2014 = crime_data_2014.dropna()

# Extract only 2014 data
crime_data_2014 = crime_data_2014.drop(crime_data_2014[crime_data_2014.year == 2015.0].index)

# Reorder columns
crime_data_2014 = crime_data_2014[['primary_type', 'timestamp', 'clearance_status', 'council_district_code', 'x_coordinate', 'y_coordinate', 'year']]
crime_data_2014.head()

,primary_type,timestamp,clearance_status,council_district_code,x_coordinate,y_coordinate,year
4,Theft: Shoplifting,2014-04-04 00:00:00,Cleared by Arrest,9.0,3121345.0,10082705.0,2014.0
9,Auto Theft,2014-04-04 00:00:00,Not cleared,1.0,3118304.0,10072414.0,2014.0
14,Theft: All Other Larceny,2014-05-08 00:00:00,Not cleared,2.0,3125886.0,10047276.0,2014.0
17,Auto Theft,2014-12-18 00:00:00,Not cleared,1.0,3125976.0,10072207.0,2014.0
20,Theft: All Other Larceny,2014-04-16 00:00:00,Not cleared,7.0,3117183.0,10103211.0,2014.0

In [4]:
# Edit timestamp column to show only month
crime_data_2014['timestamp'] = crime_data_2014['timestamp'].map(lambda x: str(x)[5:7])
crime_data_2014.head()

,primary_type,timestamp,clearance_status,council_district_code,x_coordinate,y_coordinate,year
4,Theft: Shoplifting,04,Cleared by Arrest,9.0,3121345.0,10082705.0,2014.0
9,Auto Theft,04,Not cleared,1.0,3118304.0,10072414.0,2014.0
14,Theft: All Other Larceny,05,Not cleared,2.0,3125886.0,10047276.0,2014.0
17,Auto Theft,12,Not cleared,1.0,3125976.0,10072207.0,2014.0
20,Theft: All Other Larceny,04,Not cleared,7.0,3117183.0,10103211.0,2014.0

In [5]:
# Edit clearance status to display only first character
crime_data_2014['clearance_status'] = crime_data_2014['clearance_status'].map(lambda x: str(x)[0:1])
crime_data_2014.head()

,primary_type,timestamp,clearance_status,council_district_code,x_coordinate,y_coordinate,year
4,Theft: Shoplifting,04,C,9.0,3121345.0,10082705.0,2014.0
9,Auto Theft,04,N,1.0,3118304.0,10072414.0,2014.0
14,Theft: All Other Larceny,05,N,2.0,3125886.0,10047276.0,2014.0
17,Auto Theft,12,N,1.0,3125976.0,10072207.0,2014.0
20,Theft: All Other Larceny,04,N,7.0,3117183.0,10103211.0,2014.0

In [6]:
crime_data_2014['primary_type_cleaned'] = crime_data_2014['primary_type']

In [7]:
import re
regex_pat = re.compile(r'^Theft:.*$', flags=re.IGNORECASE)
crime_data_2014["primary_type_cleaned"].replace(regex_pat, "Theft", inplace=True)

crime_data_2014["primary_type"] = crime_data_2014["primary_type_cleaned"]
crime_data_2014 = crime_data_2014.drop("primary_type_cleaned",axis=1)
crime_data_2014.head()

,primary_type,timestamp,clearance_status,council_district_code,x_coordinate,y_coordinate,year
4,Theft,04,C,9.0,3121345.0,10082705.0,2014.0
9,Auto Theft,04,N,1.0,3118304.0,10072414.0,2014.0
14,Theft,05,N,2.0,3125886.0,10047276.0,2014.0
17,Auto Theft,12,N,1.0,3125976.0,10072207.0,2014.0
20,Theft,04,N,7.0,3117183.0,10103211.0,2014.0

In [8]:
crime_data_2014["council_district_code"].value_counts()

3.0     5306
9.0     4986
4.0     4897
7.0     3881
1.0     3200
2.0     2852
5.0     2765
6.0     1761
8.0     1740
10.0    1529
Name: council_district_code, dtype: int64

In [9]:
crime_data_2014["timestamp"].value_counts()

07    2991
08    2935
10    2906
05    2814
03    2751
01    2748
09    2744
06    2709
04    2659
12    2639
11    2599
02    2422
Name: timestamp, dtype: int64

In [10]:
crime_data_2014["primary_type"].value_counts()

Theft                                           28082
Auto Theft                                       2151
Aggravated Assault                               1821
Robbery                                           838
Homicide: Murder & Nonnegligent Manslaughter       25
Name: primary_type, dtype: int64

In [11]:
# Check length of set
len(crime_data_2014)

32917

In [12]:
# Turn 2015 and 2016 crime csv into dataframes and drop unneccessary columns
crime_data_2015 = pd.DataFrame(crime_data_2015)
crime_data_2016 = pd.DataFrame(crime_data_2016)

crime_data_2015 = crime_data_2015.drop("GO Primary Key",axis=1)
crime_data_2016 = crime_data_2016.drop("GO Primary Key",axis=1)

crime_data_2015 = crime_data_2015.drop("GO Highest Offense Desc",axis=1)
crime_data_2016 = crime_data_2016.drop("GO Highest Offense Desc",axis=1)

crime_data_2015 = crime_data_2015.drop("Clearance Date",axis=1)
crime_data_2016 = crime_data_2016.drop("Clearance Date",axis=1)

crime_data_2015 = crime_data_2015.drop("GO Location Zip",axis=1)
crime_data_2016 = crime_data_2016.drop("GO Location Zip",axis=1)

crime_data_2015 = crime_data_2015.drop("GO Location",axis=1)
crime_data_2016 = crime_data_2016.drop("GO Location",axis=1)

crime_data_2015 = crime_data_2015.drop("GO Census Tract",axis=1)
crime_data_2016 = crime_data_2016.drop("GO Census Tract",axis=1)

crime_data_2015 = crime_data_2015.drop("GO District",axis=1)
crime_data_2016 = crime_data_2016.drop("GO District",axis=1)

# Drop all rows containing no values
crime_data_2015 = crime_data_2015.dropna()
crime_data_2016 = crime_data_2016.dropna()

In [13]:
# Rename columns for merge
crime_data_2015.columns = ['council_district_code', 'primary_type', 'timestamp', 'clearance_status', 'x_coordinate', 'y_coordinate']

# Reorder and rename Columns
crime_data_2015 = crime_data_2015[['primary_type', 'timestamp', 'clearance_status', 'council_district_code', 'x_coordinate', 'y_coordinate']]

# Add year column
crime_data_2015['year'] = 2015.0

In [14]:
# Edit timestamp column to show only month
for index, row in crime_data_2015.iterrows():
    split = row['timestamp']
    split = split.split('-')[1]
    crime_data_2015.set_value(index, 'timestamp', split)

/Users/alnunu/anaconda3/envs/pythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [15]:
crime_data_2015["primary_type"].value_counts()

Theft          26602
Burglary        4845
Auto Theft      1975
Agg Assault     1826
Robbery          824
Murder            18
Name: primary_type, dtype: int64

In [16]:
crime_data_2015["timestamp"].value_counts()

Jul    3309
Aug    3145
May    3124
Jun    3059
Apr    3016
Mar    3014
Dec    2967
Sep    2959
Jan    2949
Nov    2906
Oct    2885
Feb    2757
Name: timestamp, dtype: int64

In [17]:
# Rename columns for merge
crime_data_2016.columns = ['council_district_code', 'primary_type', 'timestamp', 'clearance_status', 'x_coordinate', 'y_coordinate']

# Reorder and rename Columns
crime_data_2016 = crime_data_2016[['primary_type', 'timestamp', 'clearance_status', 'council_district_code', 'x_coordinate', 'y_coordinate']]

# Add year column
crime_data_2016['year'] = 2016.0

In [18]:
# Edit timestamp column to show only month
for index, row in crime_data_2016.iterrows():
    split = row['timestamp']
    split = split.split('-')[1]
    crime_data_2016.set_value(index, 'timestamp', split)

/Users/alnunu/anaconda3/envs/pythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [19]:
crime_data_2016["timestamp"].value_counts()

Jan    3064
Mar    3059
Apr    3010
Oct    2997
Jun    2966
May    2923
Sep    2873
Dec    2870
Nov    2842
Aug    2822
Jul    2788
Feb    2671
Name: timestamp, dtype: int64

In [20]:
crime_data_2016["primary_type"].value_counts()

Theft          24845
Burglary        5025
Agg Assault     2086
Auto Theft      1988
Robbery          911
Murder            30
Name: primary_type, dtype: int64

In [21]:
# Check length of set
len(crime_data_2015)

36090

In [22]:
# Check length of set
len(crime_data_2016)

34885

In [23]:
output_data_file_2014 = "clean_csvs/crime_2014.csv"
output_data_file_2015 = "clean_csvs/crime_2015.csv"
output_data_file_2016 = "clean_csvs/crime_2016.csv"

In [24]:
crime_data_2014.to_csv(output_data_file_2014)
crime_data_2015.to_csv(output_data_file_2015)
crime_data_2016.to_csv(output_data_file_2016)